.container {
  margin: 2rem;
  width: 20rem;
}

.payButton {
  color: white;
  background-color: #f86932;
  width: 100%;
  height: 3rem;
  opacity: 0.8;
  font-size: 1.3rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 1px #888888;
}

.payButton:hover {
  opacity: 1;
  cursor: pointer;
}
